@font-face {
	font-family : "papyrus" ;
	src : url("fonts/PAPYRUS.ttf") format("ttf") ,
	url("fonts/PAPYRUS.eot") format("eot") ,
	url("fonts/PAPYRUS.woff") format("woff") ,
	url("fonts/PAPYRUS.svg") format("svg") ;
}

@font-face {
	font-family : "comic sans" ;
	src : url('fonts/comic_sans.svg') format('svg'),
	url('fonts/comic_sans.woff') format('woff'),
	url('fonts/comic_sans.eot') format('eot'),
	url('fonts/comic_sans.ttf') format('ttf');
}

body
{margin:40px auto;
max-width:650px;
line-height:1.6;
font-size:17px;
color:#494341;
padding:0 10px;
}
h1,h2,h3
{line-height:1.2;
}
button
{float:right;
}
.psyche
{background-color:magenta;
}
.psyche p,.psyche aside
{color:blue;
font-family: 'papyrus' ;
}
.psyche h1, .psyche h2, .psyche h3
{color:green;
font-family:'comic sans';
}
